<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jbhead">Josh</a>,  a rising star in the coding world. He's felt stuck many times in his life and wants to help others avoid that feeling. 
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joshua Head</h2>
      <br />
      <p>
        Joshua Head is a learning web developer and father of two. He previously worked in the telecommunications industry and logistics software as a backend systems operator. In his (little) spare time, he enjoys drawing, trivia, and harrassing his wife and children.

        <p>
          If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
      </p>

        
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />



</div>